//import font families
@font-face {
    font-family: BubbleBoddy;
    src: url('./assets/fonts/bubbleboddyneue-regular\ trial.ttf');
}

@font-face {
    font-family: Comfortaa;
    src: url('./assets/fonts/Comfortaa-VariableFont_wght.ttf');
}



// add custom colors
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-colors: (
    'button' : #f9d0a3,
    'header' : #fdd90b,
    'border' : #151217,
    'background' : #da001e
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// apply fonts

body{
    min-height: 100vh;
}

h1 {
    font-family: BubbleBoddy;
}

a {
    font-family: Comfortaa;
    text-decoration: none;
    color: black;
}

p {
    font-family: Comfortaa;
}