<div class="input-group p-3">
    <input type="text" class="form-control" placeholder="Filter by product name" #searchInput (keyup.enter)="filterProducts(searchInput.value)">
    <button class="btn btn-outline-primary" type="button" (click)="filterProducts(searchInput.value)">Search</button>
    <button class="btn btn-outline-primary" type="button" (click)="sortByPrice = sortByPrice === 'asc' ? 'desc' : 'asc'">Tri par prix</button>
  </div>
  
  <ul>
    @for (product of products | sortByPrice:sortByPrice; track $index) {
      <li>
          <app-product [product]="product"></app-product>
      </li>
    }
  </ul>
  
  @if (filter) {
    <div>
      Found {{ products.length }} product(s) for '{{ filter }}'
    </div>
  }