<div>
  <div class="bg-background px-2 px-lg-5">
    <div class="home-product bg-light mx-3 mx-lg-5 pb-1">
      <div class="container-fluid">
        <div class="row">
          <div class="input-group p-3">
            <div class="col-12 col-md-8 ">
              <input type="text" class="form-control fs-3" placeholder="Filter by product name" #searchInput (keyup.enter)="filterProducts(searchInput.value)">
            </div>
            <div class="col-12 col-md-4">
              <button class="btn btn-outline-around fs-3" type="button" (click)="filterProducts(searchInput.value)">Search</button>
              <button class="btn btn-outline-around fs-3" type="button" (click)="sortByPrice = sortByPrice === 'asc' ? 'desc' : 'asc'">Tri par prix</button>
            </div>
          </div>
        </div>

      </div>
      <div class="mx-4">
        <h1>Qui sommes nous</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at varius leo. Fusce ut ipsum congue lectus malesuada ultricies. 
          Nunc ultrices nulla ultrices ornare auctor. Vivamus aliquet ligula quam, lobortis semper magna convallis in. Proin eu justo sit amet dui faucibus mollis a id dui.</p>
      </div>
      <div class="container">
        <div class="row d-flex flex-row justify-content-center">
            @for (product of products | sortByPrice:sortByPrice; track $index) {
              <div class="col-12 col-md-6 col-lg-4 my-3 ">
                  <div class="border border-around border-3">
                    <app-product [product]="product" ></app-product>
                </div>
              </div>
            }
        </div>
      </div>
    </div>
  </div>
</div>